# Gradle
.gradle/
build/
out/
classes/

# Quilt Loom
remappedSrc/
run/
neoforge/runs/

# Eclipse
*.launch

# IntelliJ Idea
.idea/*
*.iml
*.ipr
*.iws
!.idea/scopes/

# Visual Studio Code
.settings/
.vscode/
bin/
.classpath
.project

# Eclipse JDT LS
workspace/

# macOS
*.DS_Store
